{{ define "main" }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- with .Content }}
  <div class="page-intro">{{ . }}</div>
  {{- end }}
  {{- range .AlternativeOutputFormats -}}
    {{- if eq .MediaType.SubType "rss" }}
  <p class="page-feed">Subscribe to this stream: <a href="{{ .Permalink }}" rel="alternate" type="application/rss+xml">RSS feed</a></p>
    {{- end -}}
  {{- end }}
</header>

{{- $pages := .RegularPagesRecursive -}}
{{- if not $pages }}{{ $pages = .Pages }}{{ end -}}
{{- $paginator := .Paginate $pages -}}

{{- $lastDay := "" -}}
{{- range $paginator.Pages -}}
  {{- $day := .Date.Format "2006-01-02" -}}
  {{- if ne $day $lastDay -}}
    {{- if ne $lastDay "" }}
    </section>
    {{- end }}
    <section class="day" id="{{ $day }}">
      <h2 class="day-heading"><a href="#{{ $day }}">{{ .Date.Format "Monday, 2 January 2006" }}</a></h2>
  {{- end -}}
  {{- $lastDay = $day -}}

  {{ partial "post-summary.html" . }}
{{- end -}}
{{- if ne $lastDay "" }}
    </section>
{{- end }}

{{ partial "pagination.html" . }}
{{ end }}
