{{ define "main" }}
{{- $section := .Section -}}
{{- if eq $section "links" -}}
  {{ partial "post-link.html" (dict "page" . "summary" false) }}
{{- else if eq $section "quotes" -}}
  {{ partial "post-quote.html" (dict "page" . "summary" false) }}
{{- else if eq $section "entries" -}}
  {{ partial "post-entry-full.html" . }}
{{- else -}}
  {{ partial "page-static.html" . }}
{{- end -}}

{{- $isPost := in (slice "entries" "links" "quotes") $section -}}
{{- if $isPost }}
  {{ partial "webmentions.html" . }}
{{- end }}

{{ end }}
