{{- $p := .page -}}
<article class="post post-quote" id="post-{{ $p.File.UniqueID }}">
  <header class="post-header">
    <h3 class="post-title">
      <a href="{{ $p.RelPermalink }}">Quote: {{ $p.Title }}</a>
    </h3>
    <p class="post-meta">
      <a class="permalink" href="{{ $p.RelPermalink }}" title="Permalink">#permalink</a>
    </p>
  </header>

  <blockquote class="quote">
    {{ $p.Params.quote | markdownify }}
    {{- with $p.Params.source }}
    <footer class="quote-attribution">
      &mdash;
      {{- with $p.Params.source_url }} <cite><a href="{{ . }}" rel="external">{{ $p.Params.source | markdownify }}</a></cite>
      {{- else }} <cite>{{ . | markdownify }}</cite>
      {{- end }}
    </footer>
    {{- end }}
  </blockquote>

  {{- with $p.Content }}
  <div class="post-body commentary">
    {{ . }}
  </div>
  {{- end }}

  {{ partial "previously.html" . }}

  {{ partial "post-tags.html" $p }}
</article>
