{{- $p := .page -}}
{{- $summary := .summary -}}
<article class="post post-entry" id="post-{{ $p.File.UniqueID }}">
  <header class="post-header">
    <h3 class="post-title">
      <a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a>
    </h3>
  </header>

  <div class="post-body">
    {{- $hasMore := strings.Contains $p.RawContent "<!--more-->" -}}
    {{- if and $summary $hasMore -}}
      {{ $p.Summary }}
      <p class="more">
        <a href="{{ $p.RelPermalink }}">Continue reading &rarr;</a>
        <span class="more-stats">{{ partial "post-stats.html" $p }}</span>
      </p>
    {{- else -}}
      {{ $p.Content }}
    {{- end -}}
  </div>

  {{ partial "post-tags.html" $p }}
</article>
